<div class="col-md-12 cell">
  <a href="<%=plat_pkg_path(@plat,pkg)%>">
    <div class="cell-container">
      <div class="icon">
        <%=image_tag(pkg.icon)%>
      </div>
      <div class="detail">
        <span class="title">
          <%=pkg.name%>
          <span class="date-label">
            <%=time_ago_in_words pkg.created_at %>
          </span>
        </span>
        
        <span class="sub-title">
          版本 <%=pkg.version%>，<%=pkg.size_mb%>MB
        </span>

        <%=link_to '删除', plat_pkg_path(pkg.plat, pkg), class: "btn-danger delete_btn pull-right", data: {:confirm => 'Are you sure?'}, :method => :delete %>
      </div>
    </div>
    <div class="divider"></div>
  </a>
</div>