<div class="col-md-12 cell">
  <a href="<%=pkg_path(pkg)%>">
    <div class="cell-container">
      <div class="icon">
        <%=image_tag(pkg.icon)%>
      </div>
      <div class="detail">
        <span class="title">
          <%=pkg.name%>
          <span class="date-label">
            <%=time_ago_in_words pkg.created_at %>
          </span>
        </span>
        
        <span class="sub-title">
          版本 <%=pkg.version%>，<%=pkg.size_mb%>MB
        </span>
      
        <div class="actions">
          <% download_url = browser.device.mobile? ? pkg.download_url_for_mobile : pkg.download_url %>
          <a class="download-btn" href="<%=download_url%>">
            下载
          </a>

          <% if can? :destroy, pkg %>
            <%=button_to '删除', plat_pkg_path(pkg.plat, pkg), form_class: "delete_btn", class:"btn-danger", data: {:confirm => 'Are you sure?'}, :method => :delete %>
          <% end %>
          
        </div>
      </div>
    </div>
    <div class="divider"></div>
  </a>
</div>