<%=render 'layouts/header'%>

<div class="container plat new">
  <%=form_for @plat, url: app_plats_path do |f|%>
    <%= hidden_field_tag "plat[app_id]", @plat.app_id %>
    <div class="title"><span>新建渠道</span></div>
    <div class="form-group">
      <label for="plat_name">渠道名称：</label>
      <%= f.text_field :name, class:"form-control", required:true %>
    </div>

    <div class="form-group">
      <label for="plat_name">包类型：</label>
      <%= f.select(:plat,{'iOS'=>'ios','Android'=>'android'}) %>
    </div>
    <%=f.submit "新建", class:"btn btn-primary ui-plat"%>
  <%end%>
</div>