<%=render 'layouts/header'%>

<div class="container plat show app-host-container">

  <div class="visible-md visible-lg pull-right">

    <% if can? :destroy, @plat %>
      <%=link_to '删除', app_plat_path(@app, @plat), data: {:confirm => 'Are you sure?'}, class:"btn-danger", :method => :delete %>
    <% end %>

    <% if can? :update, @plat %>
      <%=link_to '修改', edit_app_plat_path(@app, @plat), class:"btn-info" %>
    <% end %>

  </div>

  <ul class="nav nav-tabs">
      <%@plats.each_with_index do |plat,index|%>
        <% if plat.id == params[:id].to_i %>
          <li role="presentation" class="active"><%=link_to plat.name, app_plat_path(@app,plat) %></li>
        <% else %>
          <li role="presentation"><%=link_to plat.name, app_plat_path(@app,plat) %></li>
        <% end %>
      <% end %>
      <% if can? :create, Plat %>
        <li role="presentation" class="visible-md visible-lg"><%=link_to '+', new_app_plat_path %></li>
      <% end %>
  </ul>

  <div class="row">
    <%=render partial: "cell", collection: @pkgs, as: :pkg %>
  </div>
  <div class="paginate">
    <%= paginate @pkgs %>
  </div>

  <% if can? :create, Pkg %>
    <div class="plat-info visible-md visible-lg">
      <span>
        平台: <%=@plat.plat_name%> 
        <% if @plat.bundle_id.present? %>
         包名: <%=@plat.bundle_id%>  
        <% end %>
      </span>
    </div>
    <div class="visible-md visible-lg pull-right">
      <%=link_to '上传', new_plat_pkg_path(@plat), class:"btn btn-primary ui-plat" %>
    </div>
  <% end %>

</div>