<%=render 'layouts/header'%>

<div class="container user api_token">
  <h3>Api上传方式</h3>
  <hr>
  
  <h4>ApiToken</h4>
   <%=current_user.api_token%> <%=link_to '',api_token_user_path(current_user),class:"glyphicon glyphicon-refresh", data: {:confirm => 'Are you sure?'},:method => :put%>
  <hr>
  
  <h4>USEGAE:</h4>
  curl --form plat_id=<span class="alert-danger">34</span> --form file_nick_name=<span class="alert-danger">file_nick_name(可选)</span> --form token=<span class="alert-danger"><%=current_user.api_token%></span> --form features=<span class="alert-danger">features(可选)</span> --form file=<span class="alert-danger">@/xx/xx.ipa</span> <%="#{request.base_url}"%>/api/pkgs

</div>