<%=render 'layouts/header'%>

<div class="container user edit">
  <%=render 'comoms/alert'%>
  <%=form_for @user, html:{class:"app_form"} do |f|%>
    <div class="title">
      <span>
        修改密码
      </span>
    </div>
      <div class="form-group">
        <label for="app_name">密码：</label>
        <%= f.password_field :password, class:"form-control", required:true %>
      </div>
      
    <%=f.submit "保存", class:"btn btn-primary ui-plat"%>
  <%end%>
</div>