<%=render 'layouts/header'%>
<div class="container pkgs new">
  
  <%=render 'comoms/alert'%>

  <%=form_for @pkg, url:plat_pkgs_path(@plat), :html => { class: "app_form" } do |f|%>
    
    <%= hidden_field_tag "pkg[plat_id]", params[:plat_id] %>
    <div class="title"><span>提交包</span></div>
    <div class="form-group">
      <%= f.file_field :file, required:true, accept:".ipa" %>
    </div>
    <%=f.submit "上传", class:"btn btn-primary ui-plat"%>
  <%end%>
</div>