<%=render 'layouts/header'%>

<div class="pkg show">
  <div class="first-page">
    <div class="info-container">
      <div class="app-info">
        <div class="icon">
          <%=image_tag(@pkg.icon)%>
        </div>
        <div class="title"><%=@pkg.name%></div>
        <div class="info">
          <%="版本:#{@pkg.version}, build:#{@pkg.build}"%>, <%=@pkg.size_mb%>MB 
          <br>
          <%=@pkg.created_at&.strftime("%Y-%m-%d %R") %> 
        </div>
      </div>
      <a class="download-btn" href="<%=@download_url%>">
        下载
      </a>
    </div>
  </div>
  <div class="qrcode">
    <div id="qrcode"></div>
    <label>或者用手机扫描下面的二维码安装</label>
  </div>

  <% @ext_info = @pkg.ext_info %>
  <% if @ext_info.present? %>
    <div class="extend-info">
      <div class="wrap">
        <div class="open-icon">
          <span>扩展信息:</span>
          <a class="glyphicon glyphicon-chevron-down"></a>
        </div>
        <p class="info" style="display: none;">
         <%=@ext_info%>
        </p>  
      </div>
    </div>
  <% end %>

  <% if @history.present? %>
    <div class="history">
      <div class="wrap">
        <h3 class="title">历史版本</h3>
        <div class="day-block">
          <% @history.each do |key,value| %>
            <label class="title">
               <%=key%>
            </label>
            <ul>
              <%value.each do |v|%>
                <li>
                  <a href="<%=pkg_path(v)%>">
                    <%="#{v.version}(#{v.build})"%>&nbsp;&nbsp;<%="#{v.size_mb}MB"%>&nbsp;&nbsp;<%="#{v.created_at.strftime('%R')}"%>
                  </a>
                </li>
              <%end%>
            </ul>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
  
  <footer class="footer">
    <a href="https://github.com/pluosi">- pluosi.com -</a>
  </footer>
</div>

<script type="text/javascript">
  $(function(){
    $('#qrcode').empty();
    new QRCode(document.getElementById("qrcode"), "<%=@download_url%>");
    $(".open-icon>a").click(function(event) {
      $(".extend-info>.wrap>.info").toggle()
    });

  })();

  

</script>


